
*{
  padding: 0;
  margin: 0;
}





h1{
  font-size: 50px;
  text-align: center;
  color: white;
}


header nav{
  width: 80%;
  margin: 0 auto;
  background-color:rgb(40, 91, 156);
  border-radius: 25px;
  height: 35px;
}
header nav li{
    list-style-type: none;
    display: inline;
    line-height: 35px;
    margin-right: 15px;
    font-weight: bold;

}

header nav li a{
    text-decoration: none;
    color: white;

}

header nav li a:hover{
    color: black;
    background-color: lime;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  body{
    background-image: url("435.jpg");

  }


  footer{
    width: 100vw;
    height: 300px;
    background: rgb(204, 92, 48);
    position: absolute;
    bottom: 0;
}

footer img{
    width:100px ;

}



ul{
    text-align: center;

}